# Welcome to Jekyll!
# Basic Site Settings
locale: "en-EU"
title: "Rahman Taleghani"
title_separator: "-"
name: "Rahman Taleghani"
description: "Academic website of Rahman Taleghani, Mathematics graduate."
url: "https://rahmantl.github.io"
baseurl: ""
repository: "Rahmantl/rahmantl.github.io"
site_theme: "default"

# Site Author
author:
  avatar: "profile.png"
  name: "Rahman Taleghani"
  bio: "M.Sc. Mathematics graduate from University of Padova & Ruhr University Bochum (Chair of ML)."
  location: "Padova, Italy"
  email: "Rahman.taleghanizolpirani@studenti.unipd.it"
  uri: "https://rahmantl.github.io"

  # Academic websites
  googlescholar: "https://scholar.google.com/citations?hl=en&user=C5C29lYAAAAJ"
  orcid: "https://orcid.org/0000-0002-5476-1927"
  researchgate: "https://www.researchgate.net/profile/Rahman-Taleghani-2"

  # Social media
  github: "Rahmantl"
  linkedin: "rahmantaleghani/"

# Publication Category
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

# Site Settings
teaser: # filename of teaser fallback
breadcrumbs: false
words_per_minute: 160
future: true
read_more: "disabled"
talkmap_link: false
atom_feed:
  hide: false

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji
